
.pdm.toml
**__pycache__
**~

.vscode
logs

docs/build
docs/source/API
docs/source/data
docs/source/data_poprock
docs/source/dataset.zip
docs/source/poprock
docs/source/musiF.log
docs/source/dataset.zip
docs/ltex.dictionary.en-US.txt
docs/ltex.disabledRules.en-US.txt
.gutentags
build
docs/source/API
