
.pdm.toml
**__pycache__
**~

.vscode
logs

docs/build
docs/source/API
docs/source/data
docs/source/data_poprock
docs/source/dataset.zip
docs/source/poprock
docs/source/musiF.log
docs/source/dataset.zip
docs/ltex.dictionary.en-US.txt
docs/ltex.disabledRules.en-US.txt
.gutentags
build
docs/source/API
docs/source/.venv
docs/source/.python-version
docs/source/musif.log
docs/source/__tutorial_cache
docs/source/musif.log.2023-01-31
docs/source/.ipynb_checkpoints
